/* Countdown 컴포넌트의 루트 요소 스타일링 */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 8px;
  gap: 12px;
}
.countdown p {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  padding: 0.6rem;
  border-radius: 8px;
  font-weight: 600;
  color: #05652c;
  box-shadow: 3px 3px 5px rgba(0,0,0, .5);
}
.countdown span {
  font-size: 0.6rem;
  color: #333;
}
.countdown span::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #05652c;
  margin-bottom: 5px;
}

/* 개별 Countdown 아이템 스타일링 */
.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.countdown-item span {
  font-size: 36px;
}

.countdown-item span:first-child {
  font-size: 48px;
  font-weight: bold;
}
